{% set pageTitle="Food" %}
{% set name = name %}
{% extends "layout.html" %}

{% block content %}
{{parent()}}

<div class="container">
    <div class="greenLogin padding fontSizeTitle">
        {{food.Name}}  <span class="greenSignin"> ({{restaurant.Name}})  </span>
    </div>

    <div class="padding fontList">
       <span class="bold"> {{food.Price}} </span> RON
    </div>

    <div class="padding fontList">
        <span class="bold"> Ingrediente: </span> {{food.Ingredients}}
    </div>

    <div class="padding">
        <a class="btn btn-success padding" href="">Comanda</a>
    </div>
</div>

{% endblock %}