{% set pageTitle="Home" %}
{% set name = name %}
{% extends "layout.html" %}

{% block content %}
{{parent()}}

<div class="container">
    <h1 class="greenLogin">Restaurants</h1>

    <ul class="list-unstyled fontItems">
        {% for restaurant in restaurants %}
        <li>
            <i class="fas fa-star"></i>  <a class="fontItems" href="/foods/show-by-rest/{{restaurant.Id}}"> {{restaurant.Name}} - <span class="fadeText">{{restaurant.Adress}} </span></a>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}