<!DOCTYPE html>
<html>
<head>
    <title> Log in </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1 style="color:green"> Welcome </h1>
    <form action="/auth/login-action" method="post">

        <div class="row form-group">
            <div class="col-sm-2">
                <label for="email">Email  &nbsp; &nbsp; &nbsp;</label>
            </div>
            <div class="col-sm-5">
                <input class="form-control" type="email" name="email" required placeholder="something@somthing.com"/>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-2">
                <label for="password"> Password</label>
            </div>
            <div class="col-sm-5">
                <input class="form-control" type="password" name="password" required minlength=6 />
            </div>
        </div>

        {% if session_errors %}
        <div class="alert alert-danger">{{session_errors}}</div>
        {% endif %}

        <button class="btn btn-success" type="submit"> Login in </button>
    </form>

    </br>
    <div > Sau te poti loga <a href="/auth/register"> aici </a> </div>

</div>
</div>

</body>
</html>