<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="refresh" content="10;URL='/'">-->
    <link rel="stylesheet" href="/css/mystyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {% block head %}
    <title>{{pageTitle}}</title>
    {% endblock %}
</head>
<body>

<div id="content">

    {% block content %}
    <nav class="navbar noMarinLeftRight" id="nav">
        <a class="navbar-brand whiteText marginLeft" href="#">Food Koala</a>

        {% if session_logged %}
        <ul class="navbar-nav mr-auto whiteText list-unstyled">
            <li class="nav-item active fontNavItems">
                <a class="nav-link whiteText" href="/">Restaurants <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item fontNavItems">
                <a class="nav-link whiteText" href="/foods/show">Foods</a>
            </li>

            {% if is_admin %}
            <li class="nav-item active fontNavItems">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle whiteText" href="#" id="navbarDropdownAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span> <i class="fas fa-briefcase"></i> ADMIN </span>
                    </a>

                    <div class="dropdown-menu marginRight" aria-labelledby="navbarDropdownAdmin">
                        <a class="dropdown-item marginRightSmall" href="/user/show">Users</a>
                        <br />
                        <a class="dropdown-item marginRightSmall" href="/food/showAdmin">Food</a>
                        <br />
                        <a class="dropdown-item marginRightSmall" href="/restaurant/showAdmin">Restaurants</a>

                    </div>
                </div>
            </li>
            {% endif %}

        </ul>

        {% endif %}

        <div class="nav-item dropdown floatRight marginRight marginTopSmall">
            <a class="nav-link dropdown-toggle whiteText" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </a>
        {% if session_logged %}

            <div class="dropdown-menu marginRight" aria-labelledby="navbarDropdown">
                <span>{{name|upper}}</span>
                <br />
                <a class="dropdown-item marginRightSmall" href="/user/edit">Editeaza profil</a>
                <br />
                <a class="dropdown-item marginRightSmall" href="">Comanda mea</a>
                <br />
                <a class="dropdown-item marginRightSmall" href="/auth/logout"> Log Out</a>

            </div>

        {% else %}

            <div class="dropdown-menu marginRight" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Login</a>
                <br />
                <a class="dropdown-item" href="#">Signin</a>
            </div>

        {% endif %}
    </div>

    </nav>
    {% endblock %}

</div>

</body>
</html>